<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flexy Free Bootstrap Admin Template by WrapPixel</title>

    <link rel="shortcut icon" type="image/png" th:href="@{/assets/images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
</head>

<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
            <a class="d-flex justify-content-center" href="#">
                <img th:src="@{/assets/images/logos/logo-wrappixel.svg}" alt="" width="150">
            </a>


        </div>

        <div class="d-lg-flex align-items-center gap-2">
            <h3 class="text-white mb-2 mb-lg-0 fs-5 text-center">Check Flexy Premium Version</h3>
            <div class="d-flex align-items-center justify-content-center gap-2">

                <div class="dropdown d-flex">
                    <a class="btn btn-primary d-flex align-items-center gap-1 " href="javascript:void(0)" id="drop4"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ti ti-shopping-cart fs-5"></i>
                        Buy Now
                        <i class="ti ti-chevron-down fs-5"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <aside class="left-sidebar">
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a th:href="@{/}" class="text-nowrap logo-img">
                    <img th:src="@{/assets/images/logos/logo.jpg}" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-6"></i>
                </div>
            </div>
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/}" aria-expanded="false">
                            <i class="ti ti-atom"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Classes}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-clipboard-list"></i>
                  </span>
                                <span class="hide-menu">Classes</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Students}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-shirt"></i>
                  </span>
                                <span class="hide-menu">Students </span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Task}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-notebook"></i>
                  </span>
                                <span class="hide-menu">Tasks</span>
                            </div>

                        </a>
                    </li>

                    <li>
                        <span class="sidebar-divider lg"></span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Profile}"
                           aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-user-circle"></i>
                  </span>
                                <span class="hide-menu">User Profile</span>
                            </div>

                        </a>
                    </li>
                    <span class="hide-menu">Chat</span>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Chat}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                             <span class="d-flex">
                                 <i class="ti ti-message-dots"></i>
                             </span>
                                <span class="hide-menu">Chat</span>
                            </div>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/Notes}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-notes"></i>
                  </span>
                                <span class="hide-menu">Notes</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/FAQ}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-help"></i>
                  </span>
                                <span class="hide-menu">FAQ</span>
                            </div>

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{/AccountSetting}"
                           aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-user-circle"></i>
                  </span>
                                <span class="hide-menu">Account Setting</span>
                            </div>

                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="body-wrapper">
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler " id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-bell"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-animate-up" aria-labelledby="drop1">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="dropdown-item">
                                    Item 1
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item">
                                    Item 2
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                        <li class="nav-item dropdown">
                            <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img th:src="@{/assets/images/profile/user-1.jpg}" alt="" width="35" height="35" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                <div class="message-body">
                                    <a th:href="@{/Profile}" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-user fs-6"></i>
                                        <p class="mb-0 fs-3">My Profile</p>
                                    </a>
                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-mail fs-6"></i>
                                        <p class="mb-0 fs-3">My Account</p>
                                    </a>
                                    <a th:href="@{/Task}" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-list-check fs-6"></i>
                                        <p class="mb-0 fs-3">My Task</p>
                                    </a>
                                    <a th:href="@{/login}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="body-wrapper-inner">
            <div class="container-fluid">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Mail</h4>
                        </div>

                        <div class="comment-widgets scrollable mb-2 common-widget" style="height: 465px" data-simplebar="">
                            <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                                <div>
                      <span>
                          <img th:src="@{/assets/images/profile/user-3.jpg}" class="rounded-circle" alt="user"
                               width="50" />
                      </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h6 class="fw-medium">James Anderson</h6>
                                    <p class="mb-1 fs-2 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        type etting industry
                                    </p>
                                    <div class="comment-footer mt-2">
                                        <div class="d-flex align-items-center">
                          <span class="
                              badge
                              bg-info-subtle
                              text-info

                            ">Pending</span>
                                            <span class="action-icons">
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                          </span>
                                        </div>
                                        <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            mt-2
                            text-end
                          ">April 14, 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row comment-row border-bottom active p-3 gap-3">
                                <div>
                      <span>
                          <img th:src="@{/assets/images/profile/user-5.jpg}" class="rounded-circle" alt="user"
                               width="50" />
                      </span>
                                </div>
                                <div class="comment-text active w-100">
                                    <h6 class="fw-medium">Michael Jorden</h6>
                                    <p class="mb-1 fs-2 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        type setting industry.
                                    </p>
                                    <div class="comment-footer mt-2">
                                        <div class="d-flex align-items-center">
                          <span class="
                              badge
                              bg-success-subtle
                              text-success

                            ">Approved</span>
                                            <span class="action-icons active">
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-circle-x fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart text-danger fs-5"></i></a>
                          </span>
                                        </div>
                                        <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            text-end
                            mt-2
                            d-block
                          ">April 14, 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                                <div>
                      <span>
                          <img th:src="@{/assets/images/profile/user-6.jpg}" class="rounded-circle" alt="user"
                               width="50" />
                      </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h6 class="fw-medium">Johnathan Doeting</h6>
                                    <p class="mb-1 fs-2 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        type setting industry.
                                    </p>
                                    <div class="comment-footer mt-2">
                                        <div class="d-flex align-items-center">
                          <span class="
                              badge
                              bg-danger-subtle
                              text-danger

                            ">Rejected</span>
                                            <span class="action-icons">
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                          </span>
                                        </div>
                                        <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            mt-2
                            text-end
                          ">April 14, 2025</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row comment-row p-3 gap-3">
                                <div>
                      <span>
                          <img th:src="@{/assets/images/profile/user-4.jpg}" class="rounded-circle" alt="user"
                               width="50" />
                      </span>
                                </div>
                                <div class="comment-text w-100">
                                    <h6 class="fw-medium">James Anderson</h6>
                                    <p class="mb-1 fs-2 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        type setting industry.
                                    </p>
                                    <div class="comment-footer mt-2">
                                        <div class="d-flex align-items-center">
                          <span class="
                              badge
                              bg-info-subtle
                              text-info

                            ">Pending</span>
                                            <span class="action-icons">
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-edit fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-check fs-5"></i></a>
                            <a href="javascript:void(0)" class="ps-3"><i class="ti ti-heart fs-5"></i></a>
                          </span>
                                        </div>
                                        <span class="
                            text-muted
                            ms-auto
                            fw-normal
                            fs-2
                            d-block
                            text-end
                            mt-2
                          ">April 14, 2025</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary m-1">Compose</button>
                </div>

            </div>
            <div class="py-6 px-6 text-center">
                <p class="mb-0 fs-4">Design and Developed by <a href="#"
                                                                class="pe-1 text-primary text-decoration-underline">Wrappixel.com</a> Distributed by <a href="https://themewagon.com" target="_blank" >ThemeWagon</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/sidebarmenu.js}"></script>
<script th:src="@{/assets/js/app.min.js}"></script>
<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>